**/.venv/
**/__pycache__/
**/node_modules/
**/dist/
**/build/
**/.vscode/
**/*.log
**/.git/
**/*.pkl
**/*.pipe
**/*.ays
**/*.egg-info/
**/logs/
**/.obsidian/
**/.DS_Store
**/tests/
**/dummy/
**/results/